body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

/* Color */
:root {
  --PrimaryBrand: #4d5ae5;
  --Pressedstate: #404bbf;
  --Dark: #2e2f42;
  --Success: #31d0aa;
  --Text: #434455;
  --SubtleText: #8e8f99;
  --Accent: #e7e9fc;
  --Light: #f4f4fd;
  --White: #ffffff;
  --Modalbackground: #fcfcfc;
}

/* Початок та кінець */
.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--Light);
}
.header-container {
  display: flex;
}
.nav-panel {
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: var(--Dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: var(--PrimaryBrand);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 800;
  margin-right: 76px;
}
.header-menu-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  color: var(--Text);
}
.link {
  padding: 24px 0;
  text-decoration: none;
}
.loggo {
  color: var(--Dark);
}
.header-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue-color);
}
.logos {
  padding: 100px 0;
  background: var(--Dark);
  color: var(--Light);
}
.logo_change_link {
  max-width: 264px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--Light);
}

.logo_link_text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: var(--Light);
}
.header-menu {
  color: var(--Dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-link {
  color: var(--Dark);
}
.header-adress {
  font-style: normal;
}
.link {
  text-decoration: none;
  padding: 24px 0;
}
.list {
  display: flex;
  gap: 40px;
  list-style: none;
  color: var(--slate-color);
}
.header-men-link:focus,
.header-men-link:hover {
  color: var(--Pressedstate);
}
.header-men-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--Dark);
}

.header-social-link {
  color: var(--Text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-social-link:hover,
.header-social-link:focus {
  color: var(--Pressedstate);
}
.adress-lnk {
  font-style: normal;
  padding: 24px 0;
}

/* Кнопки */
.button_item {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}
.buttonse:hover,
.buttonse:focus {
  color: var(--White);
  background-color: var(--Pressedstate);
}
.button {
  color: var(--Modaloverlay);
}

.buttonse {
  padding-top: 12px;
  border-radius: 4px;

  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--PrimaryBrand);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 1px solid var(--Modalbackground);
  background: var(--Light);
}

/* Головна */
.hero {
  background: var(--Dark);
  padding: 188px 0 188px;
}
.hero-container {
  display: block;
  margin: 0 auto 48px;
}
.hero-title {
  max-width: 496px;
  color: var(--White);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  margin: 0 auto 48px;
}

.hero-btn {
  margin: 0 auto 48px;
  display: block;
  font-family: "Roboto", sans-serif;
  color: var(--White);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--PrimaryBrand);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  min-height: 56px;
  border: none;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--Pressedstate);
}
/* Секція 1 */
.infomation {
  padding: 120px 0 120px;
}
.infomation_list {
 
}
.infomation_list_item {
  margin-right: 24px;
  margin-right: 0;
}
.infomation_list_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.infomation_list_text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/* Секція 2 */
.doing-section {
  padding-bottom: 120px;
}
.doing {
  background-color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.doing_title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  color: var(--Dark);
  margin-bottom: 8px;
}
.doing_list {
  background-color: #ffffff;
}
.doing_list_item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--White);
}
/* Секція 3 */
.our {
  padding: 120px 0;
  background-color: var(--Light);
}
.our_title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
}

.our_list {
}
.our_list_item {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
}
.our-description {
  padding: 32px 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.our_list_name {
  color: #2e2f42;

  font-size: 20px;
}
.our_list_job {
  color: var(--slate, #434455);
  background-color: #ffffff;

  font-size: 16px;
}

/* Портфоліо */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main_menu {
}
.menu_list {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.porto {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.porto_item {
  flex-basis: calc((100% - 72px) / 4);
}
.div-text {
  padding: 32px 16px;
  border: 1px solid var(--Modalbackground);
  border-top: none;
}

.porto_item_tittle {
  color: var(--Dark);
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  padding-top: 12px;
}

.porto_item_text {
  color: var(--Text);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
